@import "common.css";
html,
body {
  height: 100%;
}
.fr {
  float: right;
  position: relative;
}
.fl {
  float: left;
  position: relative;
}
.header {
  width: 180px;
}
.main_nav {
  top: 16px;
  right: 180px;
  width: 180px;
  height: 100%;
  background-color: tomato;
}
.main_nav .nav {
  background-color: #ccc;
}
.section {
  margin-left: 180px;
  width: 100%;
  height: 100%;
  background-image: url('../image/winter_yeonny_main.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}
.aside {
  display: none;
}
.footer {
  top: 220px;
  width: 180px;
}
body {
  overflow-x: hidden;
}
#hybrid {
  margin-left: 180px;
  background-color: #000;
}
#hybrid .section_hybrid_1 {
  height: 950px;
  position: relative;
  overflow: hidden;
}
#hybrid .section_hybrid_1 .section_hybrid_1_bg {
  display: block;
  position: absolute;
  top: 0;
  left: 50%;
  width: 1420px;
  height: 800px;
  margin-left: -620px;
}
#hybrid .section_hybrid_1 h2 {
  width: 245px;
  height: 61px;
  position: absolute;
  top: 74px;
  left: 50%;
  margin-left: -32px;
}
#hybrid .section_hybrid_1 .strip_hybrid_1 {
  position: absolute;
  top: 169px;
  left: 50.5%;
  width: 240px;
  height: 457px;
  margin-left: -48px;
}
#hybrid .section_hybrid_1 .man_hybrid_1 {
  position: absolute;
  top: 168px;
  left: 50.5%;
  width: 378px;
  height: 431px;
  margin-left: -92px;
}
#hybrid .section_hybrid_1 p {
  width: 528px;
  height: 46px;
  position: absolute;
  top: 660px;
  left: 50%;
  margin-left: -174px;
}
#hybrid .section_hybrid_2 {
  height: 694px;
  position: relative;
}
#hybrid .section_hybrid_2 .section_hybrid_2_bg {
  width: 2000px;
  height: 1600px;
  position: absolute;
  top: 50px;
  left: 54.125%;
}
#hybrid .section_hybrid_2 strong {
  margin-left: -93px;
  width: 199px;
  display: block;
  position: absolute;
  left: 50%;
  top: 103px;
}
#hybrid .section_hybrid_2 .section_hybrid_2_video {
  width: 676px;
  height: 360px;
  position: absolute;
  left: 50%;
  top: 180px;
  margin-left: -338px;
}
#hybrid .section_hybrid_3 {
  height: 800px;
  position: relative;
}
#hybrid .section_hybrid_3 h2 {
  width: 696px;
  height: 385px;
  position: absolute;
  top: 115px;
  left: 50%;
  margin-left: -370px;
}
#hybrid .section_hybrid_3 a {
  width: 272px;
  height: 40px;
  display: block;
  position: absolute;
  left: 50%;
  top: 590px;
  margin-left: -136px;
}
#hybrid .section_hybrid_4 {
  height: 1054px;
  position: relative;
  background-color: #FFF;
  overflow: hidden;
}
#hybrid .section_hybrid_4 .section_hybrid_4_section_1 {
  height: 360px;
}
#hybrid .section_hybrid_4 .section_hybrid_4_section_1 .section_hybrid_4_bg_1 {
  width: 315px;
  height: 960px;
  position: absolute;
  top: -300px;
  left: 56%;
  opacity: 0.901328;
}
#hybrid .section_hybrid_4 .section_hybrid_4_section_1 .section_hybrid_4_text_1 {
  position: absolute;
  left: 50%;
  top: 105px;
  margin: 0 0 0 -226px;
  width: 444px;
}
#hybrid .section_hybrid_4 .section_hybrid_4_section_1 .section_hybrid_4_text_1 h3 {
  width: 361px;
  height: 51px;
  margin: 0 auto;
}
#hybrid .section_hybrid_4 .section_hybrid_4_section_1 .section_hybrid_4_text_1 p {
  width: 444px;
  height: 62px;
  position: absolute;
  top: 80px;
}
#hybrid .section_hybrid_4 .section_hybrid_4_section_2 {
  position: relative;
  height: 694px;
  overflow: hidden;
  background: #0f0f0f;
}
#hybrid .section_hybrid_4 .section_hybrid_4_section_2 .section_hybrid_4_bg_2 {
  position: relative;
  left: 50%;
  top: -198px;
  margin-left: -720px;
}
#hybrid .section_hybrid_4 .section_hybrid_4_section_2 .section_hybrid_4_text_2 {
  position: absolute;
  left: 50%;
  top: 186px;
  margin: 0 0 0 -366.5px;
  width: 733px;
}
#hybrid .section_hybrid_4 .section_hybrid_4_section_2 .section_hybrid_4_text_2 h3 {
  position: relative;
  z-index: 10;
}
#hybrid .section_hybrid_4 .section_hybrid_4_section_2 .section_hybrid_4_text_2 strong {
  display: block;
  position: absolute;
  left: 50%;
  top: 190px;
  margin-left: -151px;
  width: 303px;
  z-index: 10;
}
#hybrid .section_hybrid_4 .section_hybrid_4_section_2 .section_hybrid_4_text_2 p {
  display: block;
  position: absolute;
  left: 50%;
  top: 103px;
  margin-left: -327px;
  width: 654px;
}
#hybrid .section_hybrid_5 {
  height: 1365px;
  position: relative;
  overflow: hidden;
}
#hybrid .section_hybrid_5 .section_hybrid_5_bg {
  margin-top: -242.637px;
  width: 996px;
  height: 2365px;
  position: absolute;
  top: -500px;
  left: 29.507042%;
  opacity: 0.61685;
}
#hybrid .section_hybrid_5 .section_hybrid_5_text {
  position: absolute;
  left: 50%;
  top: 142px;
  margin: 0 0 0 -374.5px;
  width: 749px;
  z-index: 10;
}
#hybrid .section_hybrid_5 .section_hybrid_5_text h3 {
  width: 749px;
  height: 45px;
  margin-bottom: 126px;
}
#hybrid .section_hybrid_5 .section_hybrid_5_text li {
  float: left;
  width: 100%;
  border-top: 1px solid #3e3e3e;
  margin-bottom: 10px;
  height: 220px;
}
#hybrid .section_hybrid_5 .section_hybrid_5_text li h4 {
  margin-top: 28px;
}
#hybrid .section_hybrid_5 .section_hybrid_5_text li span {
  display: block;
  float: left;
  margin-left: 250px;
  margin-top: -42px;
  line-height: 70px;
}
#hybrid .section_hybrid_6 {
  position: relative;
  overflow: hidden;
  height: 1397px;
}
#hybrid .section_hybrid_6 .section_hybrid_6_section_1 {
  height: 450px;
  background-color: #1c1c1c;
}
#hybrid .section_hybrid_6 .section_hybrid_6_section_1 .section_hybrid_6_bg_1 {
  position: relative;
  left: 50%;
  margin-left: -710px;
  background: url(http://www.lexus.co.kr/asset/images/hybrid/bg_gra_s4_1.png) 0 0 repeat-x;
  width: 100%;
}
#hybrid .section_hybrid_6 .section_hybrid_6_section_1 h3 {
  width: 671px;
  height: 46px;
  position: absolute;
  left: 50%;
  top: 209px;
  margin-left: -335.5px;
}
#hybrid .section_hybrid_6 .section_hybrid_6_section_2 {
  position: relative;
  height: 947px;
  overflow: hidden;
}
#hybrid .section_hybrid_6 .section_hybrid_6_section_2 .section_hybrid_6_bg_2 {
  position: absolute;
  left: 9.1549295%;
  top: -500px;
}
#hybrid .section_hybrid_6 .section_hybrid_6_section_2 .section_hybrid_6_text_2 {
  width: 750px;
  position: absolute;
  left: 50%;
  top: 88px;
  margin: 0 0 0 -375px;
  z-index: 10;
}
#hybrid .section_hybrid_6 .section_hybrid_6_section_2 .section_hybrid_6_text_2 h3 {
  position: absolute;
  top: 0;
  left: 0;
}
#hybrid .section_hybrid_6 .section_hybrid_6_section_2 .section_hybrid_6_text_2 p {
  position: absolute;
  top: 0;
  left: 245px;
}
#hybrid .section_hybrid_6 .section_hybrid_6_section_2 .section_hybrid_6_text_2 span {
  position: absolute;
  display: block;
  top: 248px;
  left: 0;
}
#hybrid .section_hybrid_7 {
  height: 754px;
  background-color: #FFF;
}
#hybrid .section_hybrid_7 h3 {
  padding: 84px 0 104px;
  text-align: center;
}
#hybrid .section_hybrid_7 .section_hybrid_7_list {
  margin-left: 14%;
  width: 74%;
}
#hybrid .section_hybrid_7 .section_hybrid_7_list li {
  float: left;
  padding-left: 38px;
  font-size: 26px;
  line-height: 2;
  width: 21%;
  margin-bottom: 30px;
}
#hybrid .section_hybrid_7 .section_hybrid_7_list li a {
  display: block;
  width: 100%;
  height: 100%;
  color: #000;
}
#hybrid .section_hybrid_7 .section_hybrid_7_list li a span {
  font-weight: bold;
  display: block;
  padding-bottom: 60px;
}
#hybrid .section_hybrid_7 .section_hybrid_7_list li a > img {
  width: 100%;
}
#perfom {
  margin-left: 180px;
  background-color: #000;
}
#perfom .section_performance_1 {
  position: relative;
  height: 2550px;
}
#perfom .section_performance_1 .section_performance_1_section_1 {
  height: 950px;
  position: relative;
}
#perfom .section_performance_1 .section_performance_1_section_1 .btn_performance {
  width: 34px;
  height: 60px;
  display: block;
  position: absolute;
  bottom: 30px;
  left: 50%;
  margin-left: -17px;
  background: url(../image/PERFORMANCE/arr_dn.png) 0 0 no-repeat;
  text-indent: -99999px;
}
#perfom .section_performance_1 .section_performance_1_section_1 .section_performance_1_bg_1 {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  width: 100%;
  height: 100%;
}
#perfom .section_performance_1 .section_performance_1_section_1 .section_performance_1_bg_1 img {
  position: absolute;
  width: 1903px;
  height: 951px;
  top: 0px;
  left: -90px;
}
#perfom .section_performance_1 .section_performance_1_section_1 .section_performance_1_text_1 h3 {
  width: 404px;
  height: 88px;
  position: absolute;
  left: 60px;
  top: 100px;
}
#perfom .section_performance_1 .section_performance_1_section_1 .section_performance_1_text_1 p {
  width: 333px;
  height: 110px;
  position: absolute;
  left: 60px;
  top: 216px;
}
#perfom .section_performance_1 .section_performance_1_section_2 {
  height: 800px;
  overflow: hidden;
}
#perfom .section_performance_1 .section_performance_1_section_2 .section_performance_1_bg_2 {
  position: relative;
}
#perfom .section_performance_1 .section_performance_1_section_2 .section_performance_1_bg_2 img {
  position: absolute;
  left: -123px;
  top: -92px;
  width: 1969px;
  height: 984px;
}
#perfom .section_performance_1 .section_performance_1_section_3 {
  height: 800px;
  position: relative;
  overflow: hidden;
}
#perfom .section_performance_1 .section_performance_1_section_3 .section_performance_1_bg_3 {
  position: relative;
}
#perfom .section_performance_1 .section_performance_1_section_3 .section_performance_1_bg_3 img {
  position: absolute;
  left: -123px;
  top: -92px;
  width: 1969px;
  height: 984px;
  margin-top: 0px;
}
#perfom .section_performance_1 .section_performance_1_section_3 .section_performance_1_bg_3_1 {
  position: absolute;
  right: 0;
  top: -16px;
}
#perfom .section_performance_1 .section_performance_1_section_3 .section_performance_1_bg_3_1 img {
  width: 500px;
  height: 916px;
  opacity: 0.815;
  margin-top: 37px;
}
#perfom .section_performance_1 .section_performance_1_section_3 .section_performance_1_text_3 h3 {
  width: 403px;
  height: 38px;
  position: absolute;
  left: 77px;
  top: 119px;
}
#perfom .section_performance_1 .section_performance_1_section_3 .section_performance_1_text_3 p {
  width: 319px;
  height: 61px;
  position: absolute;
  left: 77px;
  top: 186px;
}
#perfom .section_performance_2 {
  height: 1600px;
  position: relative;
}
#perfom .section_performance_2 .section_performance_2_section_1 {
  height: 800px;
  overflow: hidden;
}
#perfom .section_performance_2 .section_performance_2_section_1 .section_performance_2_bg_1 {
  position: relative;
}
#perfom .section_performance_2 .section_performance_2_section_1 .section_performance_2_bg_1 img {
  width: 1969px;
  height: 984px;
  position: absolute;
  left: -123px;
  top: -92px;
}
#perfom .section_performance_2 .section_performance_2_text_1 h3 {
  width: 395px;
  height: 38px;
  position: absolute;
  left: 60px;
  top: 119px;
  margin-top: -70.3125px;
}
#perfom .section_performance_2 .section_performance_2_text_1 p {
  width: 618px;
  height: 61px;
  position: absolute;
  left: 60px;
  top: 186px;
  margin-top: -56.25px;
}
#perfom .section_performance_2 .section_performance_2_section_2 {
  height: 800px;
  overflow: hidden;
  position: relative;
}
#perfom .section_performance_2 .section_performance_2_section_2 .section_performance_2_text_2 {
  width: 960px;
  height: 80px;
  position: absolute;
  left: 50%;
  top: 54px;
  z-index: 10;
  text-align: right;
  margin-left: -480px;
}
#perfom .section_performance_2 .section_performance_2_section_2 .section_performance_2_text_2 h3 {
  padding-bottom: 26px;
}
#perfom .section_performance_2 .section_performance_2_section_2 .section_performance_2_gallery {
  width: 960px;
  height: 500px;
  z-index: 3;
  position: absolute;
  top: 155px;
  left: 50%;
  margin-left: -480px;
}
#perfom .section_performance_2 .section_performance_2_section_2 .section_performance_2_gallery img {
  width: 960px;
  height: 500px;
}
#perfom .section_performance_2 .section_performance_2_section_2 .section_performance_2_slidebtn {
  width: 960px;
  height: 12px;
  position: absolute;
  text-align: center;
  left: 50%;
  top: 680px;
  margin-left: -470px;
  z-index: 10;
}
#perfom .section_performance_2 .section_performance_2_section_2 .section_performance_2_slidebtn ul li {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
#perfom .section_performance_2 .section_performance_2_section_2 .section_performance_2_slidebtn ul li a {
  display: block;
  width: 9px;
  height: 8px;
  padding: 0;
  margin-right: 9px;
  text-indent: -9999px;
  overflow: hidden;
  background: url(../image/PERFORMANCE/sprite_indicator.png) no-repeat;
  background-position: 0 0;
}
#perfom .section_performance_2 .section_performance_2_section_2 .section_performance_2_slidebtn .section_performance_2_on a {
  background: url(../image/PERFORMANCE/sprite_indicator.png) no-repeat;
  background-position: -10px 0;
}
#perfom .section_performance_2 .section_performance_2_section_2 .section_performance_2_btn .prev {
  left: 0;
}
#perfom .section_performance_2 .section_performance_2_section_2 .section_performance_2_btn .next {
  right: 0;
}
#perfom .section_performance_2 .section_performance_2_section_2 .section_performance_2_btn a {
  position: absolute;
  top: 372px;
  z-index: 3;
}
#perfom .section_performance_2 .section_performance_2_section_2 .section_performance_2_bg_2_mask {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 2;
  left: 0;
  top: 0;
  background: url(../image/PERFORMANCE/dimmed.png) repeat;
}
#perfom .section_performance_2 .section_performance_2_section_2 .section_performance_2_bg_2 {
  height: 800px;
  position: relative;
}
#perfom .section_performance_2 .section_performance_2_section_2 .section_performance_2_bg_2 img {
  width: 1723px;
  height: 862px;
  width: 100%;
}
#perfom .section_performance_3 {
  height: 1600px;
  position: relative;
}
#perfom .section_performance_3 .section_performance_3_section_1 {
  height: 800px;
  overflow: hidden;
}
#perfom .section_performance_3 .section_performance_3_section_1 .section_performance_3_bg_1 {
  position: relative;
}
#perfom .section_performance_3 .section_performance_3_section_1 .section_performance_3_bg_1 img {
  opacity: 0.855;
  position: absolute;
  width: 1969px;
  height: 984px;
  left: -123px;
  top: -92px;
}
#perfom .section_performance_3 .section_performance_3_section_1 .section_performance_3_text_1 h3 {
  width: 210px;
  height: 38px;
  position: absolute;
  left: 50%;
  margin-left: -95px;
  top: 88px;
  margin-top: -37.5px;
}
#perfom .section_performance_3 .section_performance_3_section_1 .section_performance_3_text_1 p {
  width: 684px;
  height: 61px;
  position: absolute;
  left: 50%;
  margin-left: -323px;
  top: 157px;
  margin-top: -39px;
}
#perfom .section_performance_3 .section_performance_3_section_2 {
  height: 800px;
  overflow: hidden;
  position: relative;
}
#perfom .section_performance_3 .section_performance_3_section_2 .section_performance_3_bg_2 {
  height: 800px;
}
#perfom .section_performance_3 .section_performance_3_section_2 .section_performance_3_bg_2 img {
  position: absolute;
  width: 1969px;
  height: 984px;
  left: -123px;
  top: -160px;
  margin-top: 0px;
  opacity: 0.2;
}
#perfom .section_performance_3 .section_performance_3_section_2 .section_performance_3_text_2 h3 {
  width: 301px;
  height: 20px;
  position: absolute;
  left: 50%;
  top: 93px;
  margin-left: -150px;
}
#perfom .section_performance_3 .section_performance_3_section_2 .section_performance_3_accessories {
  width: 990px;
  height: 490px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -495px;
  margin-top: -245px;
}
#perfom .section_performance_3 .section_performance_3_section_2 .section_performance_3_accessories .section_performance_3_wrap {
  position: relative;
}
#perfom .section_performance_3 .section_performance_3_section_2 .section_performance_3_accessories .section_performance_3_wrap li {
  position: relative;
  float: left;
  margin-right: 10px;
  margin-bottom: 10px;
  width: 23.9%;
}
#perfom .section_performance_3 .section_performance_3_section_2 .section_performance_3_accessories .section_performance_3_wrap li .section_performance_3_btn {
  display: block;
  width: 60px;
  height: 60px;
  position: absolute;
  right: -4px;
  bottom: 2px;
  background: url(../image/PERFORMANCE/sprite_common.png) no-repeat 0 -450px;
}
#perfom .section_performance_4 {
  height: 1274px;
  background-color: #191919;
}
#perfom .section_performance_4 h3 {
  padding: 90px 0 107px;
  text-align: center;
}
#perfom .section_performance_4 .section_performance_4_list {
  margin-left: 18%;
  width: 74%;
}
#perfom .section_performance_4 .section_performance_4_list li {
  float: left;
  width: 33.3333333%;
  font-size: 26px;
  line-height: 2;
  margin-bottom: 30px;
}
#perfom .section_performance_4 .section_performance_4_list li a {
  display: block;
  width: 100%;
  height: 100%;
}
#perfom .section_performance_4 .section_performance_4_list li a span {
  color: #FFF;
  font-weight: bold;
  display: block;
  padding-bottom: 60px;
}
#member {
  margin-left: 180px;
  background-color: #000;
}
#member .section_membership_1 {
  background-color: orange;
  height: 950px;
  position: relative;
}
#member .section_membership_1 .section_membership_1_bg {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  width: 100%;
  height: 100%;
}
#member .section_membership_1 .section_membership_1_bg img {
  width: 1903px;
  height: 1070px;
  position: absolute;
  top: -60px;
  left: -90px;
}
#member .section_membership_1 .section_membership_1_text_1 {
  width: 325px;
  height: 530px;
  position: absolute;
  left: 60px;
  top: 45px;
}
#member .section_membership_1 .section_membership_1_text_1 p,
#member .section_membership_1 .section_membership_1_text_1 h3 {
  position: relative;
}
#member .section_membership_1 .section_membership_1_text_1 h3 {
  left: 0;
  top: 53px;
}
#member .section_membership_1 .section_membership_1_text_1 .sentence_membership {
  left: 0;
  top: 101px;
}
#member .section_membership_1 .section_membership_1_text_1 .download_membership {
  left: 0;
  top: 181px;
}
#member .section_membership_1 .section_membership_1_text_1 .btns_membership {
  left: 0;
  top: 198px;
}
#member .section_membership_1 .btn_membership {
  width: 34px;
  height: 60px;
  display: block;
  position: absolute;
  bottom: 30px;
  left: 50%;
  margin-left: -17px;
  background: url(../image/MEMBERSHIP/arr_dn.png) 0 0 no-repeat;
  text-indent: -99999px;
}
#member .section_membership_2 {
  height: 1064px;
  position: relative;
}
#member .section_membership_2 .section_membership_2_section_1 {
  height: 614px;
  background-color: #FFF;
}
#member .section_membership_2 .section_membership_2_section_1 .section_membership_2_title {
  padding: 90px 0 30px;
  margin: 0 60px 0;
}
#member .section_membership_2 .section_membership_2_section_1 .section_membership_2_title h2 {
  width: 1003px;
  height: 26px;
  font-size: 26px;
  letter-spacing: -1px;
  font-weight: bold;
  color: #222;
}
#member .section_membership_2 .section_membership_2_section_1 .section_membership_2_content {
  padding: 0 60px 60px;
  padding-bottom: 67px;
}
#member .section_membership_2 .section_membership_2_section_1 .section_membership_2_content ul li {
  border-top: 1px #CCC solid;
  font-size: 14px;
  color: #111;
  height: 91px;
}
#member .section_membership_2 .section_membership_2_section_1 .section_membership_2_content ul li span {
  padding-top: 26px;
  display: block;
  float: left;
  font-weight: bold;
  width: 13%;
  line-height: 1.6;
}
#member .section_membership_2 .section_membership_2_section_1 .section_membership_2_content ul li p {
  padding-top: 26px;
  float: right;
  width: 87%;
  line-height: 1.6;
}
#member .section_membership_2 .section_membership_2_section_1 .section_membership_2_content ul li .section_membership_2_content_txt {
  font-size: 12px;
  color: #515151;
  padding-top: 15px;
}
#member .section_membership_2 .section_membership_2_section_1 .section_membership_2_content ul .section_membership_2_content_first {
  border-top: 4px #000 solid;
}
#member .section_membership_2 .section_membership_2_section_2 {
  height: 450px;
  position: relative;
  overflow: hidden;
  background-color: #000;
}
#member .section_membership_2 .section_membership_2_section_2 .section_membership_2_bg_2 {
  position: relative;
}
#member .section_membership_2 .section_membership_2_section_2 .section_membership_2_bg_2 img {
  width: 1220px;
  height: 450px;
  position: absolute;
  left: 50%;
  margin-left: -610px;
}
#member .section_membership_2 .section_membership_2_section_2 .section_membership_2_text_2 {
  position: absolute;
  left: 0;
  top: 150px;
  text-align: center;
  width: 100%;
  height: 100%;
}
#member .section_membership_2 .section_membership_2_section_2 .section_membership_2_text_2 h3 {
  margin-bottom: 42px;
}
#member .section_membership_2 .section_membership_2_section_2 .section_membership_2_text_2 h3 img {
  width: 529px;
  height: 48px;
}
#member .section_membership_2 .section_membership_2_section_2 .section_membership_2_text_2 p {
  width: 100%;
  text-align: center;
}
#member .section_membership_2 .section_membership_2_section_2 .section_membership_2_text_2 p img {
  width: 210px;
  height: 50px;
}
#member .section_membership_3 {
  height: 2551px;
  position: relative;
  background-color: #FFF;
}
#member .section_membership_3 .section_membership_3_section_1 {
  height: 2551px;
}
#member .section_membership_3 .section_membership_3_section_1 .section_membership_3_title {
  padding: 90px 0 30px;
  margin: 0 60px 0;
}
#member .section_membership_3 .section_membership_3_section_1 .section_membership_3_title h2 {
  width: 972px;
  height: 26px;
  font-size: 26px;
  font-weight: bold;
  color: #222;
  letter-spacing: -1px;
}
#member .section_membership_3 .section_membership_3_section_1 .section_membership_3_title p {
  font-size: 13px;
  color: #111;
  line-height: 1.5;
  margin: 20px 0 -15px;
}
#member .section_membership_3 .section_membership_3_section_1 .section_membership_3_title p span {
  display: block;
  font-size: 12px;
  color: #515151;
}
#member .section_membership_3 .section_membership_3_section_1 .section_membership_3_content {
  padding-bottom: 67px;
  padding: 0 60px 60px;
}
#member .section_membership_3 .section_membership_3_section_1 .section_membership_3_content .membership_3_2 {
  display: none;
}
#member .section_membership_3 .section_membership_3_section_1 .section_membership_3_content .membership_3_3 {
  display: none;
}
#member .section_membership_3 .section_membership_3_section_1 .section_membership_3_content .membership_3_4 {
  display: none;
}
#member .section_membership_3 .section_membership_3_section_1 .section_membership_3_content .membership_3_5 {
  display: none;
}
#member .section_membership_3 .section_membership_3_section_1 .section_membership_3_content .membership_3_6 {
  display: none;
}
#member .section_membership_3 .section_membership_3_section_1 .section_membership_3_content .membership_3_7 {
  display: none;
}
#member .section_membership_3 .section_membership_3_section_1 .section_membership_3_content .membership_3_8 {
  display: none;
}
#member .section_membership_3 .section_membership_3_section_1 .section_membership_3_content .membership_3_9 {
  display: none;
}
#member .section_membership_3 .section_membership_3_section_1 .section_membership_3_content .membership_3_10 {
  display: none;
}
#member .section_membership_3 .section_membership_3_section_1 .section_membership_3_content .membership_3_11 {
  display: none;
}
#member .section_membership_3 .section_membership_3_section_1 .section_membership_3_content .membership_3_12 {
  display: none;
}
#member .section_membership_3 .section_membership_3_section_1 .section_membership_3_content .membership_3_13 {
  display: none;
}
#member .section_membership_3 .section_membership_3_section_1 .section_membership_3_content .membership_3_14 {
  display: none;
}
#member .section_membership_3 .section_membership_3_section_1 .section_membership_3_content .membership_3_15 {
  display: none;
}
#member .section_membership_3 .section_membership_3_section_1 .section_membership_3_content > ul {
  border-top: 4px #000 solid;
}
#member .section_membership_3 .section_membership_3_section_1 .section_membership_3_content > ul > li {
  border-bottom: 1px #CCC  solid;
  height: 149px;
}
#member .section_membership_3 .section_membership_3_section_1 .section_membership_3_content > ul > li > a {
  position: relative;
  display: block;
  width: 100%;
  height: 149px;
}
#member .section_membership_3 .section_membership_3_section_1 .section_membership_3_content > ul > li > a dl {
  margin-left: 30px;
  padding: 36px 70px;
}
#member .section_membership_3 .section_membership_3_section_1 .section_membership_3_content > ul > li > a dl dt {
  font-size: 24px;
  line-height: 28px;
  padding-bottom: 5px;
}
#member .section_membership_3 .section_membership_3_section_1 .section_membership_3_content > ul > li > a dl dd {
  line-height: 19.5px;
  font-size: 13px;
}
#member .section_membership_3 .section_membership_3_section_1 .section_membership_3_content > ul > li > a dl dd:nth-child(2) {
  position: absolute;
  left: 30px;
  top: 40px;
  display: block;
  width: 40px;
  height: 45px;
  background-repeat: no-repeat;
  background-image: url(../image/MEMBERSHIP/sprite_memship.png);
}
#member .section_membership_3 .section_membership_3_section_1 .section_membership_3_content > ul > li > a dl .membership_3_2_txt {
  padding-left: 10px;
  margin-top: 7px;
  background: url(../image/MEMBERSHIP/bul_dot.gif) no-repeat left 8px;
}
#member .section_membership_3 .section_membership_3_section_1 .section_membership_3_content > ul > li > a dl .membership_3_1_icon {
  background-position: 2px 0;
}
#member .section_membership_3 .section_membership_3_section_1 .section_membership_3_content > ul > li > a dl .membership_3_2_icon {
  background-position: 1px -450px;
}
#member .section_membership_3 .section_membership_3_section_1 .section_membership_3_content > ul > li > a dl .membership_3_3_icon {
  background-position: 9px -50px;
}
#member .section_membership_3 .section_membership_3_section_1 .section_membership_3_content > ul > li > a dl .membership_3_4_icon {
  background-position: 0 -630px;
}
#member .section_membership_3 .section_membership_3_section_1 .section_membership_3_content > ul > li > a dl .membership_3_5_icon {
  background-position: 0 -100px;
}
#member .section_membership_3 .section_membership_3_section_1 .section_membership_3_content > ul > li > a dl .membership_3_6_icon {
  background-position: 8px -150px;
}
#member .section_membership_3 .section_membership_3_section_1 .section_membership_3_content > ul > li > a dl .membership_3_7_icon {
  background-position: 0px -700px;
}
#member .section_membership_3 .section_membership_3_section_1 .section_membership_3_content > ul > li > a dl .membership_3_8_icon {
  background-position: 0px -770px;
}
#member .section_membership_3 .section_membership_3_section_1 .section_membership_3_content > ul > li > a dl .membership_3_9_icon {
  background-position: 5px -200px;
}
#member .section_membership_3 .section_membership_3_section_1 .section_membership_3_content > ul > li > a dl .membership_3_10_icon {
  background-position: 10px -250px;
}
#member .section_membership_3 .section_membership_3_section_1 .section_membership_3_content > ul > li > a dl .membership_3_11_icon {
  background-position: 10px -350px;
}
#member .section_membership_3 .section_membership_3_section_1 .section_membership_3_content > ul > li > a dl .membership_3_12_icon {
  background-position: 10px -840px;
}
#member .section_membership_3 .section_membership_3_section_1 .section_membership_3_content > ul > li > a span {
  position: absolute;
  top: 70px;
  right: 20px;
  font-size: 12px;
  display: block;
  width: 84px;
  height: 12px;
}
#member .section_membership_3 .section_membership_3_section_1 .section_membership_3_content > ul > li > a span .bul {
  position: absolute;
  top: 5px;
  right: 0;
  width: 10px;
  height: 8px;
  background: url(../image/MEMBERSHIP/sprite_memship.png) no-repeat 0 -400px;
}
#member .section_membership_3 .section_membership_3_section_1 .section_membership_3_content > ul > li > div {
  display: none;
}
#member .section_membership_3 .section_membership_3_section_1 .section_membership_3_content > ul > li > div.on {
  display: block;
}
#member .section_membership_3 .section_membership_3_section_1 .section_membership_3_content > ul > li > div.on ul li {
  border: 1px solid #ccc;
  display: inline-block;
  vertical-align: top;
  width: 318px;
  height: 390px;
  margin-left: 18px;
}
#member .section_membership_3 .section_membership_3_section_1 .section_membership_3_content > ul > li > div.on ul li:first-child {
  margin-left: 0;
}
#member .section_membership_3 .section_membership_3_section_1 .section_membership_3_content > ul > li > div.on ul li div {
  padding: 0 25px;
}
#member .section_membership_3 .section_membership_3_section_1 .section_membership_3_content > ul > li > div.on ul li div:first-child {
  padding: 25px;
  height: 230px;
}
#member .section_membership_3 .section_membership_3_section_1 .section_membership_3_content > ul > li > div.on ul li div:first-child cite {
  display: block;
  color: #000;
  font-size: 18px;
  font-weight: bold;
  padding-bottom: 40px;
}
#member .section_membership_3 .section_membership_3_section_1 .section_membership_3_content > ul > li > div.on ul li div:first-child span {
  display: block;
  padding-bottom: 20px;
  font-size: 12px;
  line-height: 1.6;
  letter-spacing: 0.2px;
  word-spacing: -3px;
}
#member .section_membership_3 .section_membership_3_section_1 .section_membership_3_content > ul > li > div.on ul li div:first-child i {
  color: #254182;
  font-size: 15px;
  font-weight: bold;
  letter-spacing: -0.05em;
  padding-bottom: 4px;
  line-height: 1.4;
}
#member .section_membership_3 .section_membership_3_section_1 .section_membership_3_content > ul > li > div.on ul li div dl {
  height: 80px;
  border-top: 1px solid #ccc;
  font-size: 13px;
  padding-top: 20px;
  display: block;
}
#member .section_membership_3 .section_membership_3_section_1 .section_membership_3_content > ul > li > div.on ul li div dl dt {
  width: 35px;
  height: 20px;
  float: left;
  display: block;
}
#member .section_membership_3 .section_membership_3_section_1 .section_membership_3_content > ul > li > div.on ul li div dl dt i {
  display: block;
  float: right;
  width: 1px;
  height: 9px;
  background: url(../image/MEMBERSHIP/vertical-bar.png) right 0px no-repeat;
}
#member .section_membership_3 .section_membership_3_section_1 .section_membership_3_content > ul > li > div.on ul li div dl dd {
  width: 225px;
  height: 22px;
  display: block;
  float: left;
  padding: 0 0 0 8px;
}
