@import "common.css";
html,
body {
  height: 100%;
}
.fr {
  float: right;
  position: relative;
}
.fl {
  float: left;
  position: relative;
}
.header {
  width: 180px;
}
.main_nav {
  top: 16px;
  right: 180px;
  width: 180px;
  height: 100%;
  background-color: tomato;
}
.main_nav .nav {
  background-color: #ccc;
}
.section {
  margin-left: 180px;
  width: 100%;
  height: 100%;
  background-image: url('../image/winter_yeonny_main.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}
.aside {
  display: none;
}
.footer {
  top: 220px;
  width: 180px;
}
body,
html {
  height: 100%;
}
section#hybrid {
  margin-left: 180px;
  background-color: #000;
}
section#hybrid .section_hybrid_1 {
  height: 950px;
}
section#hybrid .section_hybrid_1 .section_hybrid_1_bg {
  display: block;
  position: absolute;
  top: 0;
  left: 50%;
  width: 1420px;
  height: 800px;
  margin-left: -620px;
}
section#hybrid .section_hybrid_1 h2 {
  width: 245px;
  height: 61px;
  position: absolute;
  top: 74px;
  left: 50%;
  margin-left: -32px;
}
section#hybrid .section_hybrid_1 .strip_hybrid_1 {
  position: absolute;
  top: 169px;
  left: 50.5%;
  width: 240px;
  height: 457px;
  margin-left: -48px;
}
section#hybrid .section_hybrid_1 .man_hybrid_1 {
  position: absolute;
  top: 168px;
  left: 50.5%;
  width: 378px;
  height: 431px;
  margin-left: -92px;
}
section#hybrid .section_hybrid_1 p {
  width: 528px;
  height: 46px;
  position: absolute;
  top: 660px;
  left: 50%;
  margin-left: -174px;
}
section#hybrid .section_hybrid_2 {
  height: 694px;
  position: relative;
}
section#hybrid .section_hybrid_2 .section_hybrid_2_bg {
  width: 2000px;
  height: 1600px;
  position: absolute;
  top: 50px;
  left: 54.125%;
}
section#hybrid .section_hybrid_2 strong {
  margin-left: -93px;
  width: 199px;
  display: block;
  position: absolute;
  left: 50%;
  top: 103px;
}
section#hybrid .section_hybrid_2 .section_hybrid_2_video {
  width: 676px;
  height: 360px;
  position: absolute;
  left: 50%;
  top: 180px;
  margin-left: -338px;
}
section#hybrid .section_hybrid_3 {
  height: 800px;
  position: relative;
}
section#hybrid .section_hybrid_3 h2 {
  width: 696px;
  height: 385px;
  position: absolute;
  top: 115px;
  left: 50%;
  margin-left: -370px;
}
section#hybrid .section_hybrid_3 a {
  width: 272px;
  height: 40px;
  display: block;
  position: absolute;
  left: 50%;
  top: 590px;
  margin-left: -136px;
}
section#hybrid .section_hybrid_4 {
  height: 1054px;
  position: relative;
  background-color: #FFF;
  overflow: hidden;
}
section#hybrid .section_hybrid_4 .section_hybrid_4_section_1 {
  height: 360px;
  overflow: hidden;
}
section#hybrid .section_hybrid_4 .section_hybrid_4_section_1 .section_hybrid_4_bg_1 {
  width: 315px;
  height: 960px;
  position: absolute;
  top: -300px;
  left: 56%;
  opacity: 0.901328;
}
section#hybrid .section_hybrid_4 .section_hybrid_4_section_1 .section_hybrid_4_text_1 {
  position: absolute;
  left: 50%;
  top: 105px;
  margin: 0 0 0 -226px;
  width: 444px;
}
section#hybrid .section_hybrid_4 .section_hybrid_4_section_1 .section_hybrid_4_text_1 h3 {
  width: 361px;
  height: 51px;
  margin: 0 auto;
}
section#hybrid .section_hybrid_4 .section_hybrid_4_section_1 .section_hybrid_4_text_1 p {
  width: 444px;
  height: 62px;
  position: absolute;
  top: 80px;
}
section#hybrid .section_hybrid_4 .section_hybrid_4_section_2 {
  position: relative;
  height: 694px;
  overflow: hidden;
  background: #0f0f0f;
}
section#hybrid .section_hybrid_4 .section_hybrid_4_section_2 .section_hybrid_4_bg_2 {
  position: relative;
  left: 50%;
  top: -198px;
  margin-left: -720px;
}
section#hybrid .section_hybrid_4 .section_hybrid_4_section_2 .section_hybrid_4_text_2 {
  position: absolute;
  left: 50%;
  top: 186px;
  margin: 0 0 0 -366.5px;
  width: 733px;
}
section#hybrid .section_hybrid_4 .section_hybrid_4_section_2 .section_hybrid_4_text_2 h3 {
  position: relative;
  z-index: 10;
}
section#hybrid .section_hybrid_4 .section_hybrid_4_section_2 .section_hybrid_4_text_2 strong {
  display: block;
  position: absolute;
  left: 50%;
  top: 190px;
  margin-left: -151px;
  width: 303px;
  z-index: 10;
}
section#hybrid .section_hybrid_4 .section_hybrid_4_section_2 .section_hybrid_4_text_2 p {
  display: block;
  position: absolute;
  left: 50%;
  top: 103px;
  margin-left: -327px;
  width: 654px;
}
section#hybrid .section_hybrid_5 {
  height: 1365px;
  position: relative;
  overflow: hidden;
}
section#hybrid .section_hybrid_5 .section_hybrid_5_bg {
  margin-top: -242.637px;
  width: 996px;
  height: 2365px;
  position: absolute;
  top: -500px;
  left: 29.507042%;
  opacity: 0.61685;
}
section#hybrid .section_hybrid_5 .section_hybrid_5_text {
  position: absolute;
  left: 50%;
  top: 142px;
  margin: 0 0 0 -374.5px;
  width: 749px;
  z-index: 10;
}
section#hybrid .section_hybrid_5 .section_hybrid_5_text h3 {
  width: 749px;
  height: 45px;
  margin-bottom: 126px;
}
section#hybrid .section_hybrid_5 .section_hybrid_5_text li {
  float: left;
  width: 100%;
  border-top: 1px solid #3e3e3e;
  margin-bottom: 10px;
  height: 220px;
}
section#hybrid .section_hybrid_5 .section_hybrid_5_text li h4 {
  margin-top: 28px;
}
section#hybrid .section_hybrid_5 .section_hybrid_5_text li span {
  display: block;
  float: left;
  margin-left: 250px;
  margin-top: -42px;
  line-height: 70px;
}
section#hybrid .section_hybrid_6 {
  position: relative;
  overflow: hidden;
  height: 1397px;
}
section#hybrid .section_hybrid_6 .section_hybrid_6_section_1 {
  height: 450px;
  overflow: hidden;
  background-color: #1c1c1c;
}
section#hybrid .section_hybrid_6 .section_hybrid_6_section_1 .section_hybrid_6_bg_1 {
  position: relative;
  left: 50%;
  margin-left: -710px;
  background: url(http://www.lexus.co.kr/asset/images/hybrid/bg_gra_s4_1.png) 0 0 repeat-x;
  width: 100%;
}
section#hybrid .section_hybrid_6 .section_hybrid_6_section_1 h3 {
  width: 671px;
  height: 46px;
  position: absolute;
  left: 50%;
  top: 209px;
  margin-left: -335.5px;
}
section#hybrid .section_hybrid_6 .section_hybrid_6_section_2 {
  position: relative;
  height: 947px;
  overflow: hidden;
}
section#hybrid .section_hybrid_6 .section_hybrid_6_section_2 .section_hybrid_6_bg_2 {
  position: absolute;
  left: 9.1549295%;
  top: -500px;
}
section#hybrid .section_hybrid_6 .section_hybrid_6_section_2 .section_hybrid_6_text_2 {
  width: 750px;
  position: absolute;
  left: 50%;
  top: 88px;
  margin: 0 0 0 -375px;
  z-index: 10;
}
section#hybrid .section_hybrid_6 .section_hybrid_6_section_2 .section_hybrid_6_text_2 h3 {
  position: absolute;
  top: 0;
  left: 0;
}
section#hybrid .section_hybrid_6 .section_hybrid_6_section_2 .section_hybrid_6_text_2 p {
  position: absolute;
  top: 0;
  left: 245px;
}
section#hybrid .section_hybrid_6 .section_hybrid_6_section_2 .section_hybrid_6_text_2 span {
  position: absolute;
  display: block;
  top: 248px;
  left: 0;
}
section#hybrid .section_hybrid_7 {
  height: 754px;
  background-color: #FFF;
}
section#hybrid .section_hybrid_7 h3 {
  padding: 84px 0 104px;
  text-align: center;
}
section#hybrid .section_hybrid_7 .section_hybrid_7_list {
  margin-left: 13%;
  width: 74%;
}
section#hybrid .section_hybrid_7 .section_hybrid_7_list li {
  float: left;
  padding-left: 38px;
  font-size: 26px;
  line-height: 2;
  width: 21%;
}
section#hybrid .section_hybrid_7 .section_hybrid_7_list li a {
  display: block;
  width: 100%;
  height: 100%;
  color: #000;
}
section#hybrid .section_hybrid_7 .section_hybrid_7_list li a span {
  font-weight: bold;
  display: block;
  padding: 0 0 80px 5px;
}
body,
html {
  height: 100%;
}
section {
  margin-left: 180px;
  background-color: #000;
}
section .section_performance_1 {
  height: 2550px;
}
section .section_performance_2 {
  height: 1600px;
  background-color: red;
}
section .section_performance_3 {
  height: 1600px;
}
section .section_performance_4 {
  height: 1274px;
  background-color: red;
}
body,
html {
  height: 100%;
}
section {
  margin-left: 180px;
  background-color: #000;
}
section .section_membership_1 {
  height: 950px;
}
section .section_membership_2 {
  height: 1064px;
  background-color: red;
}
section .section_membership_3 {
  height: 2551px;
}
