body,html {height:100%;}

#perfom{
    margin-left:180px;
    background-color:#000;
.section_performance_1{
    position: relative;
    height:2550px;
.section_performance_1_section_1{
    height:950px;
    position: relative;
.btn_performance{
  width:34px;
  height:60px;
  display: block;
  // position:fixed;
  position:absolute;
  bottom: 30px;
  left: 50%;
  // margin-left: 73px;
  margin-left: -17px;
  background: url(../image/PERFORMANCE/arr_dn.png) 0 0 no-repeat;
  text-indent: -99999px;
}
.section_performance_1_bg_1{
    position:absolute;
    top: 0;
    left:0;
    overflow: hidden;
    width: 100%;
    height: 100%;
img{
    position: absolute;
    width: 1903px;
    height: 951px;
    top:0px;
    left: -90px;
            }
        }
.section_performance_1_text_1 {
h3{
  width:404px;
  height:88px;
  position: absolute;
  left: 60px;
  top: 100px;
            }
p{
  width:333px;
  height:110px;
  position: absolute;
  left: 60px;
  top: 216px;
            }
        }
    }
.section_performance_1_section_2{
  height:800px;
  overflow: hidden;
.section_performance_1_bg_2{
  position: relative;
img{
  position: absolute;
  left: -123px;
  top: -92px;
  width: 1969px;
  height: 984px;
    }
  }
}
.section_performance_1_section_3{
  height:800px;
  position: relative;
  overflow: hidden;
.section_performance_1_bg_3{
  position: relative;
img{
  position: absolute;
  left: -123px;
  top: -92px;
  width: 1969px;
  height: 984px;
  margin-top: 0px;

      }
    }
.section_performance_1_bg_3_1{
    position:absolute;
    right:0;
    top: -16px;
img{
    width:500px;
    height:916px;
    opacity: 0.815;
    margin-top: 37px;
      }
    }
.section_performance_1_text_3{
h3{
  width:403px;
  height:38px;
  position: absolute;
  left: 77px;
  top: 119px;
      }
p{
  width:319px;
  height:61px;
  position: absolute;
  left: 77px;
  top: 186px;
      }
    }
  }


}
.section_performance_2{
    height:1600px;
    position: relative;
.section_performance_2_section_1 {
  height:800px;
  overflow: hidden;
.section_performance_2_bg_1 {
  position:relative;
img{
  width: 1969px;
  height: 984px;
  position: absolute;
  left: -123px;
  top: -92px;
      }
    }
  }
  .section_performance_2_text_1{
  h3{
    width:395px;
    height:38px;
    position:absolute;
    left: 60px;
    top: 119px;
    margin-top: -70.3125px;
      }
  p{
    width:618px;
    height:61px;
    position:absolute;
    left: 60px;
    top: 186px;
    margin-top: -56.25px;
      }
    }
.section_performance_2_section_2{
  height:800px;
  overflow:hidden;
  position: relative;
.section_performance_2_text_2{
  width:960px;
  height:80px;
  position: absolute;
  left:50%;
  top:54px;
  z-index: 10;
  text-align: right;
  margin-left: -480px;
h3{
    padding-bottom:26px;
      }
    }
.section_performance_2_gallery{
    width:960px;
    height:500px;
    z-index: 3;
    position:absolute;
    top:155px;
    left:50%;
    margin-left: -480px;
img{
    width:960px;
    height:500px;
    }
}
.section_performance_2_slidebtn{
  width:960px;
  height:12px;
  position: absolute;
  text-align: center;
// background-color:red;
  left:50%;
  top:680px;
  margin-left:-470px;
  z-index: 10;
ul li{
    display:inline-block;
    *display: inline;
    *zoom: 1;
a{
  display: block;
  width: 9px;
  height: 8px;
  padding: 0;
  margin-right: 9px;
  text-indent: -9999px;
  overflow: hidden;
  background: url(../image/PERFORMANCE/sprite_indicator.png) no-repeat;
  background-position: 0 0;
    }
  }
.section_performance_2_on{
a{
  background: url(../image/PERFORMANCE/sprite_indicator.png) no-repeat;
  background-position: -10px 0;
    }
  }
}
.section_performance_2_btn{
.prev{
  left:0;
}
.next{
  right:0;
}
a{
  position: absolute;
  top: 372px;
  z-index: 3;
    }
  }
.section_performance_2_bg_2_mask{
  position: absolute;
  width:100%;
  height:100%;
  z-index: 2;
  left:0;
  top:0;
  background: url(../image/PERFORMANCE/dimmed.png) repeat;
    }
.section_performance_2_bg_2{
  height:800px;
  position: relative;
  // margin-top: -31px;
img{
  width:1723px;
  height:862px;
  width:100%;
    }
  }
}

  }
  .section_performance_3{
    height:1600px;
    position: relative;
.section_performance_3_section_1{
    height:800px;
    overflow: hidden;
.section_performance_3_bg_1{
    position: relative;
img{
    opacity: 0.855;
    position: absolute;
    width:1969px;
    height:984px;
    left: -123px;
    top: -92px;
        }
      }
.section_performance_3_text_1{
h3{
  width:210px;
  height:38px;
  position:absolute;
  left:50%;
  margin-left: -95px;
  top:88px;
  margin-top: -37.5px;
        }
p{
  width:684px;
  height:61px;
  position:absolute;
  left: 50%;
  margin-left: -323px;
  top: 157px;
  margin-top: -39px;
        }
      }
    }
.section_performance_3_section_2{
    height:800px;
    overflow: hidden;
    position: relative;
.section_performance_3_bg_2{
    height:800px;
    img{
        position: absolute;
        width:1969px;
        height:984px;
        left: -123px;
        top: -160px;
        margin-top: 0px;
        opacity: 0.2;
            }
        }
.section_performance_3_text_2{
h3{
  width:301px;
  height:20px;
  position: absolute;
  left:50%;
  top:93px;
  margin-left:-150px;
      }
    }
.section_performance_3_accessories{
  width:990px;
  height:490px;
  position: absolute;
  left:50%;
  top:50%;
  margin-left:-495px;
  margin-top:-245px;
.section_performance_3_wrap{
  position: relative;
li{
  position:relative;
  float:left;
  margin-right:10px;
  margin-bottom:10px;
  width: 23.9%;
.section_performance_3_btn{
  display: block;
  width:60px;
  height:60px;
  position: absolute;
  right:-4px;
  bottom:2px;
  background: url(../image/PERFORMANCE/sprite_common.png) no-repeat 0 -450px;          }
        }
      }
    }
  }
}
.section_performance_4{
  height:1274px;
  background-color:#191919;
  h3{
    padding: 90px 0 107px;
    text-align: center;
    }
.section_performance_4_list{
  margin-left: 18%;
  width:74%;
li{
  float:left;
  width: 33.3333333%;
  font-size: 26px;
  line-height: 2;
  margin-bottom:30px;

a{
  display: block;
  width:100%;
  height:100%;
span{
  color:#FFF;
  font-weight: bold;
  display: block;
  padding-bottom:60px;
          }
        }
      }
    }
  }
}
