
#perform{
    margin-left:180px;
    background-color:#000;
    .section_performance_1{
        position: relative;
        height:2550px;
        .section_performance_1_section_1{
            height:950px;
            position: relative;
            z-index: 1;
            .btn_performance{
                width:34px;
                height:60px;
                display: block;
                // position:fixed;
                position:absolute;
                bottom: 30px;
                left: 50%;
                // margin-left: 73px;
                margin-left: -17px;
                background: url(../image/PERFORMANCE/arr_dn.png) 0 0 no-repeat;
                text-indent: -99999px;
            }
            .section_performance_1_bg_1{
                position:absolute;
                top: 0;
                left:0;
                overflow: hidden;
                width: 100%;
                height: 100%;
                background-image: url('../image/PERFORMANCE/bg_s1_1.jpg');
                background-repeat: no-repeat;
                background-size: cover;
                // background-attachment: fixed;
                        }
            .section_performance_1_text_1 {
                h3{
                    width:404px;
                    height:100%;
                    position: absolute;
                    left: 60px;
                    top: 90px;
                    background-image: url('../image/PERFORMANCE/head_s1_1.png');
                    background-repeat: no-repeat;
                    transition: 0.5s;
                }
                p{
                    width:333px;
                    height:100%;
                    position: absolute;
                    left: 60px;
                    top: 140px;
                    background-image: url('../image/PERFORMANCE/text_s1_1.png');
                    background-repeat: no-repeat;
                    transition: 0.5s;
                }
            }
        }
        .section_performance_1_section_2{
            height:800px;
            overflow: hidden;
            position:relative;
            .section_performance_1_bg_2{
                background-image: url('../image/PERFORMANCE/bg_s1_2.jpg');
                background-repeat: no-repeat;
                background-size: cover;
                width:100%;
                height:100%;
                top:0;
                left:90px;
                position: fixed;
                z-index: 0;

            }
        }
        .section_performance_1_section_3{
            height:800px;
            position: relative;
            overflow: hidden;
            z-index: 1;
            .section_performance_1_bg_3{
                position: relative;
                img{
                    position: absolute;
                    left: -123px;
                    top: -92px;
                    width: 1969px;
                    height: 984px;
                    margin-top: 0px;

                }
            }
            .section_performance_1_bg_3_1{
                position:absolute;
                right:0;
                top: -16px;
                img{
                    width:500px;
                    height:916px;
                    opacity: 0.815;
                    margin-top: 37px;
                }
            }
            .section_performance_1_text_3{
                h3{
                    width:403px;
                    height:100%;
                    position: absolute;
                    left: 77px;
                    top: 70px;
                    background-image: url('../image/PERFORMANCE/head_s1_3.png');
                    background-repeat: no-repeat;
                    transition: 0.5s;

                }
                p{
                    width:319px;
                    height:100%;
                    position: absolute;
                    left: 77px;
                    top: 100px;
                    background-image: url('../image/PERFORMANCE/text_s1_3.png');
                    background-repeat: no-repeat;
                    transition: 0.5s;

                }
            }
        }


    }
    .section_performance_2{
        height:1600px;
        position: relative;
        .section_performance_2_section_1 {
            height:800px;
            overflow: hidden;
            .section_performance_2_bg_1 {
                background-image: url('../image/PERFORMANCE/bg_s2_1.jpg');
                background-repeat: no-repeat;
                background-size: cover;
                background-attachment: fixed;
                width: 1969px;
                height: 984px;

            }
        }
        .section_performance_2_text_1{
            h3{
                width:395px;
                height:100%;
                position:absolute;
                left: 60px;
                top: 104px;
                margin-top: -70.3125px;
                background-image: url('../image/PERFORMANCE/head_s2_1.png');
                background-repeat: no-repeat;
                transition: 0.5s;
            }
            p{
                width:618px;
                height:100%;
                position:absolute;
                left: 60px;
                top: 130px;
                margin-top: -56.25px;
                background-image: url('../image/PERFORMANCE/text_s2_1.png');
                background-repeat: no-repeat;
                transition: 0.5s;
            }
        }
        .section_performance_2_section_2{
            height:800px;
            overflow:hidden;
            position: relative;
            .section_performance_2_text_2{
                width:960px;
                height:80px;
                position: absolute;
                left:50%;
                top:54px;
                z-index: 10;
                text-align: right;
                margin-left: -480px;
                h3{
                    padding-bottom:26px;
                }
            }
            .section_performance_2_gallery{
                width:960px;
                height:500px;
                z-index: 3;
                position:absolute;
                top:155px;
                left:50%;
                margin-left: -480px;
                overflow: hidden;
                // width,height를 내가 최초에 줬어도
                // overflow hidden을 주면 기본 visible의 개념이 깨짐과 더불어
                // width,height도 깨져서
                // 눈에는 안보이지만 li들이 inline-block 상태가 됨
                // 이걸 눈으로 직접보고싶으면 width를 늘려줘야함 아마 4900px
                ul{
                    li{
                        display: none;
                        position:absolute;
                        div{
                            position:relative;
                            img{
                                position: absolute;
                                top: 0;
                                left:0;
                                width:960px;
                                height:500px;
                            }
                        }
                    }
                }
            }
            .section_performance_2_slidebtn{
                width:960px;
                height:12px;
                position: absolute;
                text-align: center;
                // background-color:red;
                left:50%;
                top:680px;
                margin-left:-470px;
                z-index: 10;
                li{
                    display:inline-block;
                    a{
                        display: block;
                        width: 9px;
                        height: 8px;
                        padding: 0;
                        margin-right: 9px;
                        text-indent: -9999px;
                        overflow: hidden;
                        background: url(../image/PERFORMANCE/sprite_indicator.png) no-repeat;
                        background-position: 0 0;
                    }
                }
                .on{
                    a{
                        background: url(../image/PERFORMANCE/sprite_indicator.png) no-repeat;
                        background-position: -10px 0;
                    }
                }
            }
            .section_performance_2_btn{
                .prev{
                    left:0;
                }
                .next{
                    right:0;
                }
                a{
                    position: absolute;
                    top: 372px;
                    z-index: 3;
                }
            }
            .section_performance_2_bg_2_mask{
                position: absolute;
                width:100%;
                height:100%;
                z-index: 2;
                left:0;
                top:0;
                background: url(../image/PERFORMANCE/dimmed.png) repeat;
            }
            .section_performance_2_bg_2{
                height:800px;
                position: relative;
                // margin-top: -31px;
                overflow:hidden;
                ul{
                    // li.on{display:block;}
                    li{
                        display: none;
                        position: relative;
                        div{
                            position: relative;
                            img{
                                position: absolute;
                                top: 0;
                                left:0;
                                width:1723px;
                                height:862px;
                                width:100%;
                            }
                        }
                    }
                }
            }
        }

    }
    .section_performance_3{
        height:1600px;
        position: relative;
        .section_performance_3_section_1{
            background-color: #000;
            height:800px;
            overflow: hidden;
            .section_performance_3_bg_1{
                position: relative;
                img{
                    opacity: 0.855;
                    position: absolute;
                    width:1969px;
                    height:984px;
                    left: -123px;
                    top: -92px;
                }
            }
            .section_performance_3_text_1{
                h3{
                    width:210px;
                    height:100%;
                    position:absolute;
                    left:50%;
                    margin-left: -95px;
                    top:80px;
                    margin-top: -37.5px;
                    background-image: url('../image/PERFORMANCE/head_s3_1.png');
                    background-repeat: no-repeat;
                    transition: 0.5s;
                }
                p{
                    width:684px;
                    height:100%;
                    position:absolute;
                    left: 50%;
                    margin-left: -323px;
                    top: 110px;
                    margin-top: -39px;
                    background-image: url('../image/PERFORMANCE/text_s3_1.png');
                    background-repeat: no-repeat;
                    transition: 0.5s;
                }
            }
        }
        .section_performance_3_section_2{
            height:800px;
            overflow: hidden;
            position: relative;
            background-color: #000;
            .section_performance_3_bg_2{
                height:800px;
                img{
                    position: absolute;
                    width:1969px;
                    height:984px;
                    left: -123px;
                    top: -160px;
                    margin-top: 0px;
                    opacity: 0.2;
                }
            }
            .section_performance_3_text_2{
                h3{
                    width:301px;
                    height:20px;
                    position: absolute;
                    left:50%;
                    top:93px;
                    margin-left:-150px;
                }
            }
            .section_performance_3_accessories{
                width:990px;
                height:490px;
                position: absolute;
                left:50%;
                top:50%;
                margin-left:-495px;
                margin-top:-245px;
                .section_performance_3_wrap{
                    position: relative;
                    li{
                        position:relative;
                        float:left;
                        margin-right:10px;
                        margin-bottom:10px;
                        width: 23.9%;
                        height:100%;
                        .section_performance_3_btn{
                            display: block;
                            width:60px;
                            height:60px;
                            position: absolute;
                            right:-4px;
                            bottom:2px;
                            background: url(../image/PERFORMANCE/sprite_common.png) no-repeat 0 -450px;
                        }
                    }
                }

    .popup_wrap{
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 10;
    .popup_content{
      position: relative;
      top: 0;
      width: 68%;
      width:1100px;
      height:716px;
      margin-left: 400px;
      margin-top: 117px;
      background-color:#fff;
   .popup_inner{
        height:637px;
    .slide{
        height: 100%;
        overflow: hidden;
        position: relative;
        // width:8936px;
    .slide_1{
        width: 100%;
        height: 100%;
        display: inline-block;
        height:637px;
        position: absolute;
        display: none;
      &:first-child{
          display: block;
        }
    .pic{
        display: block;
        height:420px;
        position:absolute;
        top:0;
        left:0;
          }
      .infor{
        position: absolute;
        top:420px;
        left:0;
        height:217px;
        >p{
              margin: 0 30px;
              height:77px;
          >span{
            font-weight: bold;
            display: block;
            height:27px;
            width: 100%;
            padding: 25px 0;
            font-size: 22px;
            color:#222;
            }
           }
          >div{
              font-size: 14px;
              height:138px;
              margin: 0 2px 0 30px;
            >p{
              font-size: 14px;
              color: #777;
              }
            }
          }
         }
        }
       }
    .popup_btn{
      height: 18px;
      margin: 0 30px;
      padding: 30px 0;
      border-top: 1px solid #d2d2d2;
      span{
      font-weight: bold;
      font-size: 12px;
      display: block;
      height: 12px;
      padding: 2px 0;
      color: #333;
      }
    .next{
      float:right;
    .next_btn{
      right: 0;
      background-position: -51px -193px;
      }
    span{
      padding-right: 12px;
      }
    }
    .prev{
      float: left;
    .prev_btn{
      background-position: 0 -193px;
      }
      span{
      padding-left: 12px;
            }
          }
      a{
        display: block;
        position: relative;
      .icon{
        display: block;
        position: absolute;
        top:2px;
        width:6px;
        height:12px;
        background: url(../image/PERFORMANCE/sprite_common.png) repeat;

            }
          }
    //   .page_number{
    //     position: relative;
    //     top:0px;
    //     width: 100px;
    //     height:12px;
    //     margin: 0 auto;
    //     text-align: center;
    //     span:nth-child(2){
    //       display: inline-block;
    //       color:#999;
    //       padding: 0 0 0 2px;
    //     }
    //     >span{
    //       display: inline-block;
    //       color:#222;
    //     }
    //     em{
    //       display: inline-block;
    //       color:#222;
    //       padding:0 2px;
    //         }
    //       }
        }
      .close_btn{
        position: absolute;
        top:0;
        right:0;
        width:60px;
        height:60px;
      a{
        width:60px;
        height:60px;
        display: block;
        background: url(../image/PERFORMANCE/btn_close_bg.png) repeat 0 0;
      span{
        text-indent: -99999px;
        font-size: 0px;
        display:inline-block;
        width: 22px;
        height: 22px;
        margin: 20px 0 0 20px;
        background: url(../image/PERFORMANCE/sprite_common.png) no-repeat -95px -163px;
            }
          }
        }
      }
    }
        .blind{
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        width: 100%;
        height: 100%;
        background: url(../image/PERFORMANCE/bg_overlay.png) repeat 0 0;
        z-index: 5;
      }

    }
  }
}

.section_performance_4{
    height:1274px;
    background-color:#191919;
    position: relative;
    z-index: 1;
    h3{
        padding: 90px 0 107px;
        text-align: center;
    }
    .section_performance_4_list{
        margin-left: 18%;
        width:74%;
        li{
            height:210px;
            float:left;
            width: 33.3333333%;
            font-size: 26px;
            line-height: 2;
            margin-bottom:30px;

            a{
                display: block;
                width:100%;
                height:100%;
                span{
                    color:#FFF;
                    font-weight: bold;
                    display: block;
                    padding-bottom:60px;
                }
            }
        }
    }
}
}
