body,html {height:100%;}

#hybrid{
    margin-left:180px;
    background-color:#000;
.section_hybrid_1{
    height:950px;
    // position: relative;
.section_hybrid_1_bg{
  display:block;
  position: absolute;
  top: 0;
  left: 50%;
  width: 1420px;
  height: 800px;
  margin-left: -620px;
}
h2{
  width:245px;
  height:61px;
  position: absolute;
  top: 74px;
  left: 50%;
  margin-left: -32px;
    }
  .strip_hybrid_1{
  position: absolute;
  top: 169px;
  left: 50.5%;
  width: 240px;
  height: 457px;
  margin-left: -48px;
    }
.man_hybrid_1{
  position: absolute;
  top: 168px;
  left: 50.5%;
  width: 378px;
  height: 431px;
  margin-left: -92px;
    }
p{
  width:528px;
  height:46px;
  position: absolute;
  top: 660px;
  left: 50%;
  margin-left: -174px;
    }

  }
  .section_hybrid_2 {
    height:694px;
   position: relative;
  .section_hybrid_2_bg{
    width:2000px;
    height:1600px;
    position: absolute;
    top: 50px;
    left: 54.125%;
    }
  strong{
      margin-left:-93px;
      width: 199px;
      display: block;
      position: absolute;
      left:50%;
      top:103px;
    }
  .section_hybrid_2_video{
    width:676px;
    height:360px;
    position: absolute;
    left: 50%;
    top: 180px;
    margin-left: -338px;
    }
  }
  .section_hybrid_3 {
    height:800px;
    position: relative;
  h2{
    width:696px;
    height:385px;
    position: absolute;
    top:115px;
    left:50%;
    margin-left:-370px;
    }
    a{
    width:272px;
    height:40px;
    display: block;
    position: absolute;
    left:50%;
    top:590px;
    margin-left:-136px;
    }
  }
.section_hybrid_4{
    height:1054px;
    position:relative;
    background-color:#FFF;
    overflow: hidden;
.section_hybrid_4_section_1{
    height: 360px;
.section_hybrid_4_bg_1{
    width:315px;
    height:960px;
    position:absolute;
    top:-300px;
    left:56%;
    opacity: 0.901328;
    }
.section_hybrid_4_text_1{
    position: absolute;
    left: 50%;
    top: 105px;
    margin: 0 0 0 -226px;
    width: 444px;
  h3{
    width:361px;
    height:51px;
    margin: 0 auto;
    }
  p{
    width:444px;
    height:62px;
    position:absolute;
    top:80px;
    }
  }
}
.section_hybrid_4_section_2{
  position: relative;
    height: 694px;
    overflow: hidden;
    background: #0f0f0f;
.section_hybrid_4_bg_2{
    position: relative;
    left: 50%;
    top: -198px;
    margin-left: -720px;
    }
.section_hybrid_4_text_2{
    position: absolute;
    left: 50%;
    top: 186px;
    margin: 0 0 0 -366.5px;
    width: 733px;
h3{
    position: relative;
    z-index: 10;
      }
strong{
    display: block;
    position: absolute;
    left: 50%;
    top: 190px;
    margin-left: -151px;
    width: 303px;
    z-index: 10;
      }
  p{
    display: block;
    position: absolute;
    left: 50%;
    top: 103px;
    margin-left: -327px;
    width: 654px;
      }
    }
  }

}
.section_hybrid_5{
    height:1365px;
    position:relative;
    overflow:hidden;
.section_hybrid_5_bg {
    margin-top: -242.637px;
    width:996px;
    height:2365px;
    position:absolute;
    top: -500px;
    left: 29.507042%;
    opacity: 0.61685;
    }
.section_hybrid_5_text{
    position: absolute;
    left: 50%;
    top: 142px;
    margin: 0 0 0 -374.5px;
    width: 749px;
    z-index: 10;
    h3{
      width:749px;
      height:45px;
      margin-bottom: 126px;
      }
    li{
      float: left;
      width: 100%;
      border-top: 1px solid #3e3e3e;
      margin-bottom:10px;
      height:220px;
    h4{
      margin-top:28px;
      }
    span{
      display: block;
      float:left;
      margin-left:250px;
      margin-top:-42px;
      line-height:70px;
        }

      }
    }

  }
.section_hybrid_6{
    position:relative;
    // overflow:hidden;
    height:1397px;
.section_hybrid_6_section_1 {
    height:450px;
    background-color:#1c1c1c;
.section_hybrid_6_bg_1{
    position:relative;
    left: 50%;
    margin-left: -710px;
    background: url(http://www.lexus.co.kr/asset/images/hybrid/bg_gra_s4_1.png) 0 0 repeat-x;
    width:100%;
  }
h3{
    width:671px;
    height:46px;
    position: absolute;
    left:50%;
    top: 209px;
    margin-left: -335.5px;
    }
  }
.section_hybrid_6_section_2{
  position: relative;
    height:947px;
    overflow:hidden;
.section_hybrid_6_bg_2{
  position: absolute;
  left: 9.1549295%;
  top: -500px;
    }
.section_hybrid_6_text_2{
    width: 750px;
    position: absolute;
    left:50%;
    top:88px;
    margin: 0 0 0 -375px;
    z-index: 10;
h3{
  position:absolute;
  top:0;
  left:0;
      }
p{
  position: absolute;
  top:0;
  left:245px;
      }
span {
  position: absolute;
  display: block;
  top:248px;
  left:0;
      }
    }
  }
}
.section_hybrid_7{
    height:754px;
    background-color:#FFF;
h3{
  padding: 84px 0 104px;
  text-align: center;
    }
.section_hybrid_7_list{
    margin-left: 13%;
    width:74%;
li{
  float:left;
  padding-left: 38px;
  font-size: 26px;
  line-height: 2;
   width:21%;
   margin-bottom:20px;
a{
    display: block;
    width: 100%;
    height: 100%;
    color: #000;
span{
  font-weight: bold;
  display: block;
  padding: 0 0 80px 5px;
          }
        }
      }
    }
  }

}
