
#member{
    margin-left:180px;
    background-color:#000;
.section_membership_1{
  background-color:orange;
  height:950px;
  position: relative;
.section_membership_1_bg{
  position:absolute;
  top:0;
  left:0;
  overflow:hidden;
  width:100%;
  height:100%;
img{
  width: 1903px;
  height: 1070px;
  position:absolute;
  top: -60px;
  left: -90px;
      }
    }
.section_membership_1_text_1{
  width:325px;
  height:530px;
  position: absolute;
  left:60px;
  top:45px;
p,h3 {
  position: relative;
  }
h3{
left:0;
top:53px;
  }
.sentence_membership{
left:0;
top:101px;
  }
.download_membership{
  left:0;
  top:181px;
  }
.btns_membership{
left:0;
top:198px;
  }
}
.btn_membership{
  width:34px;
  height:60px;
  display: block;
  // position:fixed;
  position:absolute;
  bottom: 30px;
  left: 50%;
  // margin-left: 73px;
  margin-left: -17px;
  background: url(../image/MEMBERSHIP/arr_dn.png) 0 0 no-repeat;
  text-indent: -99999px;
    }
  }
.section_membership_2{
    height:1064px;
    position: relative;
.section_membership_2_section_1{
    height:614px;
    background-color:#FFF;
.section_membership_2_title{
    padding:90px 0 30px;
    margin: 0 60px 0;
h2{
  width:1003px;
  height:26px;
  font-size: 26px;
  letter-spacing: -1px;
  font-weight: bold;
  color:#222;
        }
      }
.section_membership_2_content{
  padding:0 60px 60px;
  padding-bottom:67px;
ul{
li{
  border-top:1px #CCC solid;
  font-size: 14px;
  color: #111;
  height:91px;
  span{
  padding-top:26px;
  display: block;
  float:left;
  font-weight: bold;
  width:13%;
  line-height: 1.6;
            }
p{
  padding-top:26px;
  float:right;
  width: 87%;
  line-height: 1.6;
            }
.section_membership_2_content_txt{
  font-size: 12px;
  color: #515151;
  padding-top: 15px;
            }
          }
.section_membership_2_content_first{
border-top:4px #000 solid;
          }

        }
      }
    }
.section_membership_2_section_2{
    height:450px;
    position: relative;
    overflow: hidden;
    background-color:#000;
.section_membership_2_bg_2{
  position: relative;
img{
  width:1220px;
  height:450px;
  position: absolute;
  left:50%;
  margin-left: -610px;
        }
      }
.section_membership_2_text_2{
  position:absolute;
  left:0;
  top:150px;
  text-align:center;
  width:100%;
  height:100%;
h3{
  margin-bottom:42px;
img{
  width:529px;
  height:48px;
          }
        }
p{
  width:100%;
  text-align:center;
  img{
    width:210px;
    height:50px;
          }
        }
      }
    }
  }
.section_membership_3{
    height:2551px;
    position:relative;
    background-color:#FFF;
.section_membership_3_section_1{
    height:2551px;
.section_membership_3_title{
  padding: 90px 0 30px;
  margin: 0 60px 0;
h2{
  width:972px;
  height:26px;
  font-size:26px;
  font-weight: bold;
  color:#222;
  letter-spacing: -1px;
        }
p {
font-size:13px;
color:#111;
line-height: 1.5;
margin: 20px 0 -15px;
span {
display: block;
font-size:12px;
color:#515151;
          }
        }
      }
.section_membership_3_content{
    padding-bottom: 67px;
    padding: 0 60px 60px;
.membership_3_2{display:none;}
.membership_3_3{display:none;}
.membership_3_4{display:none;}
.membership_3_5{display:none;}
.membership_3_6{display:none;}
.membership_3_7{display:none;}
.membership_3_8{display:none;}
.membership_3_9{display:none;}
.membership_3_10{display:none;}
.membership_3_11{display:none;}
.membership_3_12{display:none;}
.membership_3_13{display:none;}
.membership_3_14{display:none;}
.membership_3_15{display:none;}

>ul{
border-top:4px #000 solid;
>li{
  border-bottom:1px #CCC  solid;
  height:149px;
  >a{
    position:relative;
    display: block;
    width: 100%;
    height:149px;
    dl{
      margin-left:30px;
      padding:36px 70px;

      dt{
        font-size: 24px;
        line-height:28px;
        padding-bottom: 5px;
      }
      dd{
        line-height:19.5px;
        font-size:13px;
        &:nth-child(2){
          position:absolute;
          left:30px;
          top:40px;
          display: block;
          width:40px;
          height:45px;
          background-repeat: no-repeat;
         background-image:url(../image/MEMBERSHIP/sprite_memship.png);
        }
      }
      .membership_3_2_txt{
          padding-left: 10px;
          margin-top: 7px;
          background: url(../image/MEMBERSHIP/bul_dot.gif) no-repeat left 8px;
      }
      .membership_3_1_icon{
        background-position: 2px 0;
      }
      .membership_3_2_icon{
        background-position: 1px -450px;
      }
      .membership_3_3_icon{
        background-position: 9px -50px;
      }
      .membership_3_4_icon{
        background-position: 0 -630px;
      }
      .membership_3_5_icon{
        background-position: 0 -100px;
      }
      .membership_3_6_icon{
        background-position: 8px -150px;
      }
      .membership_3_7_icon{
        background-position: 0px -700px;
      }
      .membership_3_8_icon{
        background-position: 0px -770px;
      }
      .membership_3_9_icon{
            background-position: 5px -200px;
      }
      .membership_3_10_icon{
            background-position: 10px -250px;
      }
      .membership_3_11_icon{
            background-position: 10px -350px;
      }
      .membership_3_12_icon{
        background-position: 10px -840px;
      }
    }
    span{
      position: absolute;
      top:70px;
      right:20px;
      font-size: 12px;
      display: block;
      width:84px;
      height:12px;
    .bul{
      position: absolute;
      top:5px;
      right:0;
      width: 10px;
      height: 8px;
      background: url(../image/MEMBERSHIP/sprite_memship.png) no-repeat 0 -400px;
      }
    }
  }
//
>div{
  display: none;
  &.on{
    display: block;
      ul{
        li{
          border: 1px solid #ccc;
          display: inline-block;
          vertical-align: top;
          width: 318px;
          height: 390px;
          margin-left:18px;
          &:first-child{
            margin-left: 0;
          }
          div{
            padding:0 25px;
            &:first-child{
              padding: 25px;
              height:230px;
              cite{
                display: block;
                color: #000;
                font-size:18px;
                font-weight: bold;
                padding-bottom:40px;
              }
              span{
                  display: block;
                  padding-bottom: 20px;
                  font-size: 12px;
                  line-height: 1.6;
                  letter-spacing: 0.2px;
                  word-spacing: -3px;

              }
              i{
                  color: #254182;
                  font-size:15px;
                  font-weight:bold;
                  letter-spacing: -0.05em;
                  padding-bottom: 4px;
                  line-height: 1.4;
              }
            }
            dl{
                  height:80px;
                  border-top: 1px solid #ccc;
                  font-size: 13px;
                  padding-top:20px;
                  display: block;

              dt{
                width: 35px;
                height: 20px;
                float: left;
                display: block;

              i{
                display: block;
                float: right;
                width: 1px;
                height: 9px;
                background: url(../image/MEMBERSHIP/vertical-bar.png) right 0px no-repeat;
                }
              }
              dd{
                width: 225px;
                height: 22px;
                display: block;
                float: left;
                padding: 0 0 0 8px;
              }
            }
          }
        }
      }
    }
  }
}

            }
          }
        }
      }
    }
