#offer{
  margin-left:180px;
  background-color:#FFF;
.header_offer{
  height:44px;
  padding:40px 0 50px;
  margin: 0 60px 0;

    h2{
      text-align: left;
      display: inline-block;
      color:#222;
      font-size:20px;
      font-weight:bold;
      height:44px;
      line-height:44px;
      border-right:1px solid #000;
      padding-right:17px;
      margin-right:18px;
      vertical-align: middle;
      }
    p{
      color:#666;
      font-size:13px;
      height:44px;
      display: inline-block;
      vertical-align: middle;
      line-height: 1.65;
      }
    }
  .wrap_offer{
    height:2696px;
    padding: 20px 60px 60px;
    // font-size: 13px;
    // line-height: 1.6;
.title_offer{
  strong{
    color:#000;
    }
  h3{
    color: #000;
    font-weight: bold;
    font-size: 55px;
    line-height: 1.2;
          }
  p{
    padding-top:40px;
    color:black;
    font-size:22px;
    font-weight: bold;
        }
      }
.offer_1{
  position: relative;
  height:1486px;
  margin-top:60px;
.offer_1_title{
  height:171px;
  margin-bottom:28px;
  span{
    position: absolute;
    top:65px;
    left:0;
    display: block;
    width:100%;
    height:6px;
    background-color:#000;
          }
    h3{
    width:366px;
    height:140px;
    position: absolute;
    margin-bottom: 15px;
          }
        }
.offer_1_txt{
  >p{
    font-size: 17px;
    color: #0d0d0d;
    line-height: 1.8;
    padding-bottom: 82px;
    font-weight: bold;
  }
  >span{
    display: block;
    position: absolute;
    top:125px;
    right:0;
    img{
      width:165px;
      height:155px;
      }
    }
.offer_1_program_1{
 position: relative;
 width:100%;
 height:360px;
 li{
   float:left;
   position: relative;
   width: 25%;
   box-sizing: border-box;
  text-align: left;
  padding: 0 40px 60px 0;
  .txt{
  line-height: 20.8px;
  width:285px;
  height:110px;
  text-align: left;
  h4{
  letter-spacing: 0.2px;
  word-spacing: -7px;
  line-height: 27.93px;
  font-size: 19px;
  color:#000;
  font-weight: bold;
  .color_txt{
    display: block;
    color: #868484;
    line-height: 27.93px;
      }
    }
  p{
  letter-spacing: 0.2px;
  word-spacing: -2px;
  width:285px;
  height:44px;
  font-size:13px;
  margin-top:12px;
    }
  }
 }
}
.offer_1_program_2{
    border-top:1px solid #999;
    height:784px;
    li{
    position: relative;
    height:392px;
    color:#000;
    padding: 54px 0 0 70px;
    box-sizing: border-box;
  cite{
    height:28px;
    font-size: 18px;
    font-weight: bold;
      }
  .infor{
    height:67px;
    margin: 40px 0 0;
  p:nth-child(2){
    margin-left: 48px;
  }
  >p{
      position: relative;
      float:left;
  b{
      font-size: 44px;
      font-weight: bold;
    }
    i{
      font-size: 44px;
      }
  .line{
    display: block;
    position: absolute;
    top: -7px;
    right: -26px;
    width: 1px;
    height: 100%;
    background: #ccc;
    }
    span{
      display: block;
      margin-top:10px;
      font-size: 13px;
      color:#666;
          }
        }
      }
  .car_img{
    display: block;
    // width:48%;
    position: absolute;
    top:137px;
    right:0;
    img{
      width:621px;
      height:175px;
          }
    }
  .car_2{
    img{
      width:621px;
      height:222px;
      }
    }
  .description{
  margin-top: 74px;
  font-size: 13px;
  font-weight: bold;
    }
  .btn_group{
    height:125px;
  a:nth-child(2){
    background-color:#0b2956;
    }
  a{
  display: inline-block;
  color: #fff;
  background-color: #333;
  font-size: 12px;
  height:40px;
  margin: 22px 0 63px;
  padding:0 20px;
  line-height: 40px;
  i{
    width:16px;
    height:10px;
    color:#999;
    display: inline-block;
    background: url(../image/offers/sprite_service.png) left top no-repeat;
    vertical-align: middle;
    margin-left:20px;
            }
          }
        }
      }
    }
        }
      }
.offer_2{
  position: relative;
  height:413px;
  margin-top:60px;
    .offer_2_title{
      height:171px;
      margin-bottom:28px;
    span{
      position: absolute;
      top:65px;
      left:0;
      display: block;
      width:100%;
      height:6px;
      background-color:#000;
        }
    h3{
      width:366px;
      height:140px;
      position: absolute;
      margin-bottom: 15px;
            }
          }
  .offer_2_txt{
    >p{
      font-size: 17px;
      color: #0d0d0d;
      line-height: 1.8;
      font-weight: bold;
          }
  .table_sheet{
    height:159px;
    margin-top:25px;
    table{
        width:100%;
    th{
      border-bottom: 1px solid #e6e6e6;
      font-weight: bold;
      padding:15px 0;
      font-size: 14px;
      text-align: left;
      color: #000;
      vertical-align: middle;
      }
    caption{
        text-indent: -99999px;
        width:0;
        height:0;
        font-size: 0;
              }
    thead{
      height:52px;
    tr{
      height:52px;
      background-color:#e6e6e6;
                }
              }
    tbody{
         height:106px;
    tr{
      height:53px;
        td{
          color:#666;
          font-size: 14px;
          border-bottom: 1px solid #e6e6e6;
          padding: 15px 0;
          vertical-align: middle;
              }
        .b_font{
        font-weight: bold;
        color:#000;
                  }
                }
             }
          }
        }
       }
      }
.offer_3{
  height:423px;
  position: relative;
  margin-top:60px;
    .offer_3_title{
    height:171px;
    margin-bottom:28px;
    span{
    position: absolute;
    top:65px;
    left:0;
    display: block;
    width:100%;
    height:6px;
    background-color:#000;
        }
    h3{
    width:366px;
    height:140px;
    position: absolute;
    margin-bottom: 15px;
          }
        }
      .offer_3_txt{
        >p{
          font-size: 17px;
          color: #0d0d0d;
          line-height: 1.8;
          font-weight: bold;
          }
        span{
          display:block;
          padding: 65px 0 20px 0;
          color:#000;
          font-size: 14px;
          font-weight:bold;
          }
        .btn_showroom{
          height:50px;
          padding-bottom:8px;
           a{
              display: block;
              width:220px;
              height:48px;
              color:#000;
              border:1px solid #000;
              font-size: 13px;
              padding: 0 0 0 20px;
              text-align: left;
              font-weight:bold;
              line-height: 50px;
              i{
                  display:inline-block;
                  width:16px;
                  height:10px;
                  background:url(../image/offers/sprite_specialoffer.png);
                  vertical-align: middle;
                  margin-left:120px;
                }
             }
          }
        }
      }
    }
  }
.car_type{
  height:1072px;
  font-size:13px;
  line-height:1.6;
  margin:0 60px;
  padding:60px;
  border: 1px solid #e6e6e6;
  box-sizing: border-box;
.car_list{
  height:840px;
.width_4{
  width: 20%;
}
  li{
    float:left;
    width: 26.6%;
    margin-bottom:60px;
    height:220px;
    a{
      display: block;
      width:240px;
      height:250px;
    dl{
      dt{
         cite{
           display:inline-block;
           width:200px;
           height:25px;
           font-size:25px;
           font-weight:bold;
           margin-bottom:30px;
           color:#010101;
           }
          span{
            display:inline-block;
            width:29px;
            height:29px;
            text-indent: -99999px;
            font-size:0;
            background-color:red;
            float:right;
            margin-top:1px;
            background: url(../image/offers/sprite_common.png) no-repeat -120px -163px;
          }
        }
        dd{
          height:95px;
          font-size:13px;
        p{
          line-height: 1.5;
          letter-spacing:0.2px;
          word-spacing:-3px;
          }
        }
      }
    }
  }
}
.car_explanation{
  height:100px;
  font-size:13px;
  li{
    margin-bottom: 10px;
    padding: 0 10px 0 14px;
    >i{
      display:inline-block;
      width:4px;
      height:12px;
      background: url(../image/offers/sprite_bul_pat.png) no-repeat 0 -8px;
      margin: 0 8px 0 -12px;
    }
    p{
      display:inline-block;
      }
    }
  }
}
